{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Academía de Choferes El Palacio</title>
    <!--  Favicon -->
    <link rel="icon" href="{% static 'web/images/favicon.png' %}"/>


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap" rel="stylesheet">

    <!-- BEGIN SETTINGS -->
    <!-- Remove this after purchasing -->
    <link rel="stylesheet" href="{% static 'login/css/light.css' %}">

    <script async="" src="https://static.hotjar.com/c/hotjar-2120269.js?sv=6"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-Q3ZYEKLQ68"></script>


    <script async="" src="https://script.hotjar.com/modules.7225c79fe4e29708c611.js" charset="utf-8"></script>
    <style type="text/css">
    iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}


    </style>
</head>
<!--
  HOW TO USE:
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
<div class="main d-flex justify-content-center w-100">
    <main class="content d-flex p-0">
        <div class="container d-flex flex-column">
            <div class="row h-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Bienvenido a El Palacio</h1>
                            <p class="lead">
                                Inicia sesión en tu cuenta para continuar
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div class="text-center">
                                        <img src="{% static 'login/images/logo.png' %}" alt="Chris Wood"
                                             class="img-fluid rounded-circle" width="132" height="132">
                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="form-label">Usuario</label>
                                            <input class="form-control form-control-lg" type="text" name="username"
                                                   placeholder="Entre su usuario">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Constraseña</label>
                                            <input class="form-control form-control-lg" type="password" name="password"
                                                   placeholder="Entre su contraseña">
                                            <small>
                                                <a href="pages-reset-password.html">¿Ha olvidado su contraseña?</a>
                                            </small>
                                        </div>
                                        <div>
                                            <div class="form-check align-items-center">
                                                <input id="customControlInline" type="checkbox" class="form-check-input"
                                                       value="remember-me" name="remember-me" checked="">
                                                <label class="form-check-label text-small" for="customControlInline">
                                                    Recuerdame la proxima vez
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-center mt-3">
                                            <!--                                            <a href="dashboard-default.html" class="btn btn-lg btn-primary">Sign in</a>-->
                                            <button type="submit" class="btn btn-lg btn-primary">Entrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


</body>
</html>