{% extends 'index.html' %}
{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs aos-init aos-animate" data-aos="fade-in">
        <div class="container">
            <h2>Contáctenos</h2>
            <p>Complete sus datos, formule su consulta y nos pondremos en contacto a la brevedad. </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div data-aos="fade-up" class="aos-init aos-animate">
            <iframe style="border:0; width: 100%; height: 350px;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6544.23459482437!2d-56.14107718555709!3d-34.903505786183175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81725a1595f5%3A0xf5de74faf3cea6fc!2sAcademia%20de%20Choferes%20%22%20EL%20PALACIO%20%22!5e0!3m2!1ses-419!2suy!4v1618920659244!5m2!1ses-419!2suy"
                    allowfullscreen="" frameborder="0"></iframe>
        </div>

        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Dirección:</h4>
                            <p>{{ about.address }}</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Correo:</h4>
                            <p>{{ about.email }}</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Teléfono:</h4>
                            <p>{{ about.phone }}</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form method="post" class="php-email-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                {{ form.name }}
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            {{ form.subject }}
                        </div>
                        <div class="form-group mt-3">
                            {{ form.message }}
                        </div>
                        <div class="my-3">
                            <div class="loading">Cargando</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Enviar mensaje</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>

{% endblock content %}
