<table style="Margin:0;background:#f3f3f3;border-collapse:collapse;border-spacing:0;color:#0a0a0a;float:none;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;height:100%;line-height:1.4;margin:0 auto!important;padding:0;text-align:left;vertical-align:top;width:640px"
       align="center" xmlns="http://www.w3.org/1999/html">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="Margin:0;background-color:#fffff!important;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;max-width:580px;padding:0;text-align:left;vertical-align:middle;width:100%;word-break:break-word;word-wrap:break-word"
            bgcolor="#004080">
            <center style="min-width:580px; width:100%">
                <table style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;max-width:580px;padding:0;text-align:center;vertical-align:top;width:100%"
                       width="100%" border="0" align="center">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <td style="Margin:0;background-color:#004080!important;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;max-width:580px;padding:0;text-align:left;vertical-align:middle;width:100%;word-break:break-word;word-wrap:break-word"
                            bgcolor="#004080">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
            <center>
                <img src="../static/web/images/logo.png"
                     alt="El Palacio" style="clear:both;display:block;outline:0;width:30%"
                     class="CToWUd">
            </center>
            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;line-height:32px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                        height="32px"></td>
                </tr>
                </tbody>
            </table>
            <center>
                <img src="https://ci6.googleusercontent.com/proxy/V5hpAdYKRc2EfwSdvAk16nluHw1431Np3QbYrUNQOtNaWdAA8eGZTBbHX4Y2aZ1hrnVL7Czw04W66IxtqnXD3fFub4B9jNtiW31LXUFViwd_Iwfl522L=s0-d-e1-ft#https://cdn.plus500.com/Media/Email/templateGeneral/plus_divider.png"
                     alt="Sepeartor" style="clear:both;display:block;max-width:100%;outline:0;width:auto"
                     class="CToWUd">
            </center>
            <table style="border-collapse:collapse;border-spacing:0;max-width:580px;padding:0;text-align:left;vertical-align:top;width:100%"
                   width="100%" border="0" align="center">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word;word-wrap:break-word"
                        valign="top" align="center">
                        <center style="min-width:580px; width:100%">
                            <table style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;max-width:580px;padding:0;text-align:center;vertical-align:top;width:100%"
                                   width="100%" border="0" align="center">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="Margin:0;background-color:#004080!important;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;max-width:580px;padding:0;text-align:left;vertical-align:middle;width:100%;word-break:break-word;word-wrap:break-word"
                                        bgcolor="#004080">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th style="Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.4;margin:0;padding:0;text-align:left">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;line-height:32px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                                                                height="32px"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        Nombre: {{ name }}
                                                    </p>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        Email: <a style="color:#fefefe">{{ email }}</a>
                                                    </p>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        Asunto: {{ subject }}
                                                    </p>
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:16px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                                                                height="16px"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        Mensaje:
                                                    </p>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        {{ message }}
                                                    </p>
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:16px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                                                                height="16px"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        --
                                                    </p>
                                                    <p style="Margin:0;Margin-bottom:0;color:#fefefe;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.4;margin:0;margin-bottom:0;padding:0;padding-left:32px!important;padding-right:32px!important;text-align:left">
                                                        Este mensaje se ha enviado desde un formulario de contacto en
                                                        ...
                                                    </p>

                                                </th>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;line-height:32px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                        height="32px"></td>
                </tr>
                </tbody>
            </table>
            <center>
                <img src="https://ci6.googleusercontent.com/proxy/V5hpAdYKRc2EfwSdvAk16nluHw1431Np3QbYrUNQOtNaWdAA8eGZTBbHX4Y2aZ1hrnVL7Czw04W66IxtqnXD3fFub4B9jNtiW31LXUFViwd_Iwfl522L=s0-d-e1-ft#https://cdn.plus500.com/Media/Email/templateGeneral/plus_divider.png"
                     alt="Sepeartor" style="clear:both;display:block;max-width:100%;outline:0;width:auto"
                     class="CToWUd">
            </center>
            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;line-height:32px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word"
                        height="32px"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>